/.gradle
/build
/gradle
/run
*.keystore
gradle.properties
/.settings
/.metadata
/.classpath
/.project
/bin
/eclipse
/Files
/out
/.idea
/*.iml
/atlassian-ide-plugin.xml
CREDITS-fml.txt
*.ipr
*.iws
gradlew
gradlew.bat
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
forge-1.6.4-9.11.1.964-changelog.txt